footer 
{
    display:flex;
    justify-content:center;
    .footer-content 
    {
        padding:75px 0 75px 0;
        width:69%;
        .bottom 
        {
            margin:80px 0 0 0;
            .bottom-content 
            {
                .info-legal 
                {
                    float:right;
                    left:15px;
                    position:relative;
                    .info-legal-block 
                    {
                        display:inline;
                        margin:15px;
                        a 
                        {
                            color:$footer-info-legal;
                            display:inline;
                            font-family:roboto-regular;
                            text-decoration:none;
                        }
                        h6
                        {
                            color:$footer-info-legal;
                            display:inline;
                            font-family:roboto-regular;
                        }
                    }
                    .legal-mobile 
                    {
                        display:none;
                    }
                }
                .social 
                {
                    float:left;
                    .social-fb 
                    {
                        margin:10px;
                    }
                    .social-icon 
                    {
                        display:inline;
                        a 
                        {
                            display:inline;
                            text-decoration:none;
                            img 
                            {
                                height:auto;
                                width:20px;
                            }
                        }
                    }
                }
            }
        }
        .footer-bottom-line 
        {
            display:none;
        }
        .footer-top-line 
        {
            display:none;
        }
        .navbar-mobile 
        {
            display:none;
        }
        .top 
        {
            display:grid;
            grid-template-columns:auto auto auto;
            .language 
            {
                display:flex;
                justify-content:flex-end;
                .language-ellipse 
                {
                    align-items:center;
                    background:$language-ellipse;
                    border-radius:50%;
                    display:flex;
                    height:40px;
                    justify-content:center;
                    width:40px;
                    h6 
                    {
                        color:$language-footer;
                        margin:0;
                        padding:0;
                    }
                }
            }
            .logo 
            {
                img 
                {
                    height:auto;
                    width:101px;
                }
            }
            .navbar 
            {
                align-items:start;
                display:flex;
                .navbar-block 
                {
                    a 
                    {
                        align-items:center;
                        display:flex;
                        text-decoration:none;
                        h6 
                        {
                            color:$footer-navbar;
                            margin:0 0 0 5px;
                            padding:0;
                            position:relative;
                            top:1px;
                        }
                        img 
                        {
                            height:auto;
                            width:12px;
                        }
                    }
                    .navbar-block-bottom 
                    {
                        margin:7px 0 0 0;
                    }
                }
            }
            .top-social 
            {
                display:none;
            }
        }
    }
}


@media (max-width:374px)
{
    footer 
    {
        .footer-content 
        {
            width:92%;
            .bottom 
            {
                margin:25px 0 0 0;
                padding:0;
                .bottom-content 
                {
                    margin:0;
                    padding:0;
                    .info-legal 
                    {
                        float:initial;
                        left:0;
                        margin:0;
                        padding:0;
                        .info-legal-block 
                        {
                            display:block;
                            margin:0;
                            padding:0;
                        }
                        .info-legal-block-inline 
                        {
                            display:none;
                            margin:0;
                            padding:0;
                        }
                        .info-legal-block-made 
                        {
                            display:flex;
                            justify-content:center;
                            margin:0;
                            padding:0;
                            .made 
                            {
                                margin:0;
                                padding:0;
                                text-align:center;
                            }
                        }
                        .legal-mobile 
                        {
                            display:block;
                            margin:27px 0 0 0;
                            .legal-mobile-content 
                            {
                                display:grid;
                                grid-template-columns:auto;
                                .legal-mobile-content-block 
                                {
                                    display:flex;
                                    justify-content:center;
                                    a 
                                    {
                                        color:$footer-info-legal;
                                        display:inline-block;
                                        font-family:roboto-regular;
                                        text-decoration:none;
                                    }
                                }
                                .legal-mobile-content-block-center 
                                {
                                    display:flex;
                                    justify-content:center;
                                }
                                // Need to center
                                .legal-mobile-content-block-end
                                {
                                    display:flex;
                                    justify-content:center;
                                }
                            }
                        }
                    }
                    .social 
                    {
                        display:none;
                    }
                }
            }
            .footer-bottom-line 
            {
                display:block;
                margin:25px 0 0 0;
                .line-bottom
                {
                    height:1px;
                    background:$footer-line;
                    width:100%;
                }
            }
            .footer-top-line 
            {
                display:block;
                margin:25px 0 0 0;
                .line 
                {
                    height:1px;
                    background:$footer-line;
                    width:100%;
                }
            }
            .navbar-mobile
            {
                align-items:start;
                display:grid;
                grid-template-columns:auto auto;
                margin:25px 0 0 0;
                .navbar-mobile-block
                {
                    .navbar-mobile-block-content 
                    {
                        a 
                        {
                            align-items:center;
                            display:flex;
                            text-decoration:none;
                            h6 
                            {
                                color:$footer-navbar;
                                margin:0 0 0 5px;
                                padding:0;
                                position:relative;
                                top:1px;
                            }
                            img 
                            {
                                height:auto;
                                width:12px;
                            }
                        }
                        .link-margin 
                        {
                            margin:30px 0 0 0;
                        }
                    }
                }
                .navbar-mobile-block-center 
                {
                    display:flex;
                    justify-content:flex-end;
                }
                .navbar-mobile-block-end 
                {
                    display:flex;
                    justify-content:start;
                    margin:30px 0 0 0;
                }
            }
            .top 
            {
                grid-template-columns:auto auto;
                .language 
                {
                    display:none;
                }
                .navbar 
                {
                    display:none;
                }
                .top-social 
                {
                    align-items:center;
                    display:flex;
                    justify-content:flex-end;
                    .top-social-fb 
                    {
                        margin:10px;
                    }
                    .top-social-icon 
                    {
                        display:inline;
                        a 
                        {
                            display:inline;
                            text-decoration:none;
                            img 
                            {
                                height:auto;
                                width:20px;
                            }
                        }
                    }
                }
            }
        }
    }
}


@media (min-width:375px) and (max-width:1199px)
{
    footer 
    {
        .footer-content 
        {
            width:92%;
            .bottom 
            {
                margin:25px 0 0 0;
                padding:0;
                .bottom-content 
                {
                    margin:0;
                    padding:0;
                    .info-legal 
                    {
                        float:initial;
                        left:0;
                        margin:0;
                        padding:0;
                        .info-legal-block 
                        {
                            display:block;
                            margin:0;
                            padding:0;
                        }
                        .info-legal-block-inline 
                        {
                            display:none;
                            margin:0;
                            padding:0;
                        }
                        .info-legal-block-made 
                        {
                            display:flex;
                            justify-content:center;
                            margin:0;
                            padding:0;
                            .made 
                            {
                                margin:0;
                                padding:0;
                                text-align:center;
                            }
                        }
                        .legal-mobile 
                        {
                            display:block;
                            margin:27px 0 0 0;
                            .legal-mobile-content 
                            {
                                display:grid;
                                grid-template-columns:auto auto auto;
                                .legal-mobile-content-block 
                                {
                                    a 
                                    {
                                        color:$footer-info-legal;
                                        font-family:roboto-regular;
                                        text-decoration:none;
                                    }
                                }
                                .legal-mobile-content-block-center 
                                {
                                    display:flex;
                                    justify-content:center;
                                }
                                .legal-mobile-content-block-end
                                {
                                    display:flex;
                                    justify-content:flex-end;
                                }
                            }
                        }
                    }
                    .social 
                    {
                        display:none;
                    }
                }
            }
            .footer-bottom-line 
            {
                display:block;
                margin:25px 0 0 0;
                .line-bottom
                {
                    height:1px;
                    background:$footer-line;
                    width:100%;
                }
            }
            .footer-top-line 
            {
                display:block;
                margin:25px 0 0 0;
                .line 
                {
                    height:1px;
                    background:$footer-line;
                    width:100%;
                }
            }
            .navbar-mobile
            {
                align-items:start;
                display:grid;
                grid-template-columns:auto auto auto;
                margin:25px 0 0 0;
                .navbar-mobile-block
                {
                    .navbar-mobile-block-content 
                    {
                        a 
                        {
                            align-items:center;
                            display:flex;
                            text-decoration:none;
                            h6 
                            {
                                color:$footer-navbar;
                                margin:0 0 0 5px;
                                padding:0;
                                position:relative;
                                top:1px;
                            }
                            img 
                            {
                                height:auto;
                                width:12px;
                            }
                        }
                        .link-margin 
                        {
                            margin:30px 0 0 0;
                        }
                    }
                }
                .navbar-mobile-block-center 
                {
                    display:flex;
                    justify-content:center;
                }
                .navbar-mobile-block-end 
                {
                    display:flex;
                    justify-content:end;
                }
            }
            .top 
            {
                grid-template-columns:auto auto;
                .language 
                {
                    display:none;
                }
                .navbar 
                {
                    display:none;
                }
                .top-social 
                {
                    align-items:center;
                    display:flex;
                    justify-content:flex-end;
                    .top-social-fb 
                    {
                        margin:10px;
                    }
                    .top-social-icon 
                    {
                        display:inline;
                        a 
                        {
                            display:inline;
                            text-decoration:none;
                            img 
                            {
                                height:auto;
                                width:20px;
                            }
                        }
                    }
                }
            }
        }
    }
}


@media (min-width:1921px) and (max-width:2400px)
{
    footer 
    {
        .footer-content 
        {
            padding:93px 0 93px 0;
            .bottom 
            {
                margin:100px 0 0 0;
                .bottom-content 
                {
                    .info-legal 
                    {
                        left:18px;
                        .info-legal-block 
                        {
                            margin:18px;
                        }
                    }
                    .social 
                    {
                        .social-fb 
                        {
                            margin:12px;
                        }
                        .social-icon 
                        {
                            a 
                            {
                                img 
                                {
                                    width:25px;
                                }
                            }
                        }
                    }
                }
            }
            .top 
            {
                .language 
                {
                    .language-ellipse 
                    {
                        height:50px;
                        width:50px;
                    }
                }
                .logo 
                {
                    img 
                    {
                        width:126px;
                    }
                }
                .navbar 
                {
                    .navbar-block 
                    {
                        a 
                        {
                            h6 
                            {
                                margin:0 0 0 6px;
                                top:1.2px;
                            }
                            img 
                            {
                                width:15px;
                            }
                        }
                        .navbar-block-bottom 
                        {
                            margin:8.7px 0 0 0;
                        }
                    }
                }
            }
        }
    }
}


@media (min-width:2401px) and (max-width:3000px)
{
    footer 
    {
        .footer-content 
        {
            padding:116px 0 116px 0;
            .bottom 
            {
                margin:125px 0 0 0;
                .bottom-content 
                {
                    .info-legal 
                    {
                        left:22px;
                        .info-legal-block 
                        {
                            margin:22px;
                        }
                    }
                    .social 
                    {
                        .social-fb 
                        {
                            margin:15px;
                        }
                        .social-icon 
                        {
                            a 
                            {
                                img 
                                {
                                    width:31px;
                                }
                            }
                        }
                    }
                }
            }
            .top 
            {
                .language 
                {
                    .language-ellipse 
                    {
                        height:62px;
                        width:62px;
                    }
                }
                .logo 
                {
                    img 
                    {
                        width:157px;
                    }
                }
                .navbar 
                {
                    .navbar-block 
                    {
                        a 
                        {
                            h6 
                            {
                                margin:0 0 0 7px;
                                top:1.5px;
                            }
                            img 
                            {
                                width:18px;
                            }
                        }
                        .navbar-block-bottom 
                        {
                            margin:11px 0 0 0;
                        }
                    }
                }
            }
        }
    }
}


@media (min-width:3001px) and (max-width:3750px)
{
    footer 
    {
        .footer-content 
        {
            padding:145px 0 145px 0;
            .bottom 
            {
                margin:156px 0 0 0;
                .bottom-content 
                {
                    .info-legal 
                    {
                        left:27px;
                        .info-legal-block 
                        {
                            margin:27px;
                        }
                    }
                    .social 
                    {
                        .social-fb 
                        {
                            margin:18px;
                        }
                        .social-icon 
                        {
                            a 
                            {
                                img 
                                {
                                    width:38px;
                                }
                            }
                        }
                    }
                }
            }
            .top 
            {
                .language 
                {
                    .language-ellipse 
                    {
                        height:77px;
                        width:77px;
                    }
                }
                .logo 
                {
                    img 
                    {
                        width:196px;
                    }
                }
                .navbar 
                {
                    .navbar-block 
                    {
                        a 
                        {
                            h6 
                            {
                                margin:0 0 0 8px;
                                top:1.8px;
                            }
                            img 
                            {
                                width:22px;
                            }
                        }
                        .navbar-block-bottom 
                        {
                            margin:13px 0 0 0;
                        }
                    }
                }
            }
        }
    }
}


@media (min-width:3751px)
{
    footer 
    {
        .footer-content 
        {
            padding:181px 0 181px 0;
            .bottom 
            {
                margin:195px 0 0 0;
                .bottom-content 
                {
                    .info-legal 
                    {
                        left:33px;
                        .info-legal-block 
                        {
                            margin:33px;
                        }
                    }
                    .social 
                    {
                        .social-fb 
                        {
                            margin:22px;
                        }
                        .social-icon 
                        {
                            a 
                            {
                                img 
                                {
                                    width:47px;
                                }
                            }
                        }
                    }
                }
            }
            .top 
            {
                .language 
                {
                    .language-ellipse 
                    {
                        height:96px;
                        width:96px;
                    }
                }
                .logo 
                {
                    img 
                    {
                        width:245px;
                    }
                }
                .navbar 
                {
                    .navbar-block 
                    {
                        a 
                        {
                            h6 
                            {
                                margin:0 0 0 10px;
                                top:2.2px;
                            }
                            img 
                            {
                                width:27px;
                            }
                        }
                        .navbar-block-bottom 
                        {
                            margin:16px 0 0 0;
                        }
                    }
                }
            }
        }
    }
}